# 초보자를 위한 파이썬 300제

---
## 파이썬 시작하기
---

In [ ]:
print("Hello World")

In [ ]:
print("Mary's cosmetics")

In [ ]:
print('신씨가 소리질렀다. "도둑이야".')

In [ ]:
print("C:/Windows")

In [ ]:
print("안녕하세요.\n만나서\t\t반갑습니다.")
#\n 은 한줄띄기(Enter), \t는 탭 간격 띄기

In [ ]:
print("오늘은", "일요일")
# 오늘은 일요일로 출력 / str형 객체가 2개 생성되어 출력됨
# "오늘은 일요일" 과 같은 결과 값이다.

In [ ]:
print("naver/kakao/sk/samsung")

In [ ]:
print("fisrt",end=(""));print("second")
# ; 기호는 한줄에 여러 코드를 작성하기 위해 사용
# 실제로는 사용되지 않는 코드 작성 기법
# end("") 메소드는 print() 메소드의 종료 시 기본값인 "\n" 을 다른 문자로 바꿔줄 수 있는 메소드
# end("감사합니다.") 시 print() 함수 종료 후 "감사합니다." 가 출력됨

In [ ]:
print(5/3)

---
## 파이썬 변수
---

In [ ]:
samsung_elec = 500000
print(samsung_elec*10)

In [ ]:
시가총액, 현재가, PER = 298e15, 5e4, 1579e-2
시가총액, 현재가, PER

In [ ]:
s, t = "hello", "python"
print(s + "!", t)

In [ ]:
print(2+2*3)
# * 연산자가 우선순위 결과는 8

In [ ]:
a = 132
print(type(a))
# type() 함수는 객체의 유형을 출력

In [ ]:
num_str = "720"
print(int(num_str),type(int(num_str)))
# str 에서 int 형으로 형변환시 str 내의 값은 숫자로만 이루어져야 함
# ex_str = "hello"
# print(int(ex_str)) / 오류 발생

In [ ]:
num = 100
print(str(num), type(str(num)))

In [ ]:
fl_str = "15.79"
print(float(fl_str),type(float(fl_str)))
# int 형으로 형변환 시 소숫점 이하는 버림 연산

In [ ]:
year = "2020"
year = int(year)
print(year-1, year-2, year-3)

In [ ]:
monthly_pay = 48584
print(monthly_pay*36)
# total_price = monthly_pay * 36
# print(total_price)

---
## 파이썬 문자열 ( 21 ~ 50 )
---

In [ ]:
letters = "python"
print(letters[0],letters[2])
# 문자열 인덱싱
# 숫자를 0 부터 세기 때문에 첫번째 글자의 위치는 0이다.

In [ ]:
license_plate = "24가 2210"
print(license_plate[-4:])

In [ ]:
string = "홀짝홀짝홀짝"
print(string[::2])
# 문자열 슬라이싱
# [x:y:z] x 부터 y 까지 z번째마다 라는 뜻이며 default 값은 [처음:끝:1] 이다.

In [ ]:
string = "PYTHON"
print(string[::-1])
# 문자열

In [ ]:
phone_number = "010-1111-2222"
print(phone_number.replace("-"," "))
# str.replace("x","y") str 에 존재하는 "x" 를 "y" 로 치환해주는 메소드

In [ ]:
print(phone_number.replace("-",""))

In [ ]:
url = "http://sharebook.kr"
domain = url.split(".")[-1]
print(domain)

In [ ]:
lang = 'python'
lang[0] = 'P'
print(lang)
# 오류 발생 str 은 하나씩 재설정이 불가능

In [ ]:
string = 'abcdfe2a354a32a'
print(string.replace('a','A'))

In [ ]:
string = 'abcd'
string.replace('b', 'B')
print(string)
#'abcd'
# 다른 변수에 따로 저장하지 않았기 때문!

In [ ]:
a = '3'
b = '4'
print(a + b)
# 문자열이기 때문에 문자열끼리 합쳐져 새로운 값 생성

In [ ]:
print("Hi" * 3)
# HiHiHi

In [ ]:
print("-"*80)

In [ ]:
t1 = 'python'
t2 = 'java'
print((t1+' '+t2+' ')*4)

In [ ]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print(f"이름: {name1} 나이: {age1}\n이름: {name2} 나이: {age2}")
# 변수를 str 내에서 바로 쓸 수 있게 해주지만 몹시 귀찮다...

- 36, 37 번은 생략

In [ ]:
total_stocks = "5,969,782,550"
i_stocks = total_stocks.replace(',',"")
print(int(i_stocks))

In [ ]:
quater = "2020/03(E) (IFRS연결)"
print(quater[:7])

In [ ]:
data = "   삼성전자    "
print(data.strip())

In [ ]:
ticker = "btc_krw"
print(ticker.upper())

In [ ]:
ticker = "BTC_KRW"
print(ticker.lower())

In [ ]:
letters = "hello"
#print(letters.replace("h","H"))
print(letters.capitalize())
# capitalize() 메소드는 str의 첫 글자를 대문자화
# title() 메소드는 str 내 모든 단어의 첫 글자를 대문자화

In [ ]:
file_name = "보고서.xlsx"
print(file_name.endswith('xlsx'))
# endswith('str') 메소드는 str의 마지막이 'str' 과 같은지에 대한 boolean 값을 리턴함

In [ ]:
file_name = "보고서.xlsx"
print(file_name.endswith(("xlsx", "xls")))
# print(file_name.endswith("xlsx" and "xls"))
# print(file_name.endswith("xlsx" or "xls"))
# 복수 비교 시 tuple 형으로 묶어줘야함.. tuple 없이 or , and 연산도 가능

In [ ]:
file_name = "2020_보고서.xlsx"
print(file_name.startswith("2020"))
# endswith() 메소드 형제

In [ ]:
a = "hello world"
a_list = a.split(" ")
print(a, a_list)

In [ ]:
ticker = "btc_krw"
print(ticker.split("_"))

In [ ]:
date = "2020-05-01"
year, month, day = date.split("-")
print(year, month, day)

In [ ]:
data = "039490     "
print(data.rstrip())

---
## 파이썬 리스트
---

In [ ]:
movie_rank = ["닥터 스트레인지", "스플릿", "럭키",]

In [ ]:
movie_rank.append("배트맨")
print(movie_rank)
# append() 메소드는 list자료형의 마지막에 원소 추가

In [ ]:
movie_rank.insert(2,"슈퍼맨")
print(movie_rank)
# insert(x,"y") 는 list[x] 에 "y" 원소 추가

In [ ]:
del movie_rank[1]
del movie_rank[-1]
print(movie_rank)
# 삭제된 후 순서도 고려해야함

In [ ]:
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]
print(lang1+lang2)
# list 간 + 연산은 확장의 개념

In [ ]:
nums = [1, 2, 3, 4, 5]
print(sum(nums))
# sum() 은 sequence데이터(list, tuple, range) 에서만 동작함

In [ ]:
cook = [
        "피자", "김밥", "만두", 
        "양념치킨", "족발", "피자",
        "김치만두", "쫄면", "소시지",
        "라면", "팥빙수", "김치전",] #~~~ comma 였는데 이름이 기억이 안남
print(len(cook))
# len(string) 의 경우 인덱싱된 str의 원소 개수를 카운트해서 str의 길이를 알 수 있음

In [ ]:
nums = [1, 2, 3, 4, 5]
print(sum(nums)/len(nums))

In [ ]:
price = ['20180728', 100, 130, 140, 150, 160, 170]
print(price[1:])

In [ ]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[::2])

In [ ]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[1::2])

In [ ]:
nums = [1, 2, 3, 4, 5]
print(nums[::-1])

In [ ]:
interest = ['삼성전자', 'LG전자', 'Naver']
print(interest[0],interest[-1])

In [ ]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print(" ".join(interest))
# join() 메소드는 sequential data 를 string 으로 변환할때 유용함

In [ ]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print("/".join(interest))

In [ ]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print("\n".join(interest))

In [ ]:
string = "삼성전자/LG전자/Naver"
interest = string.split("/")
print(interest)

In [ ]:
data = [2, 4, 3, 1, 5, 10, 9]
sort_data = sorted(data)
print(sort_data[::-1])

## 파이썬 튜플

In [ ]:
my_variable = ()
print(type(my_variable))

In [ ]:
movie_rank = ("닥터 스트레인지", "스플릿", "럭키",)
print(movie_rank)

In [ ]:
my_tu = (1,)
print(type(my_tu))

In [ ]:
""">> t = (1, 2, 3)
>> t[0] = 'a'
Traceback (most recent call last):
  File "<pyshell#46>", line 1, in <module>
    t[0] = 'a'
TypeError: 'tuple' object does not support item assignment
"""
#tuple은 immutable 자료형

In [ ]:
t = 1, 2, 3, 4
# tuple형으로 자동 저장

In [ ]:
t = ('a', 'b', 'c')
t = ('A', 'b', 'c')

In [ ]:
interest = ('삼성전자', 'LG전자', 'SK Hynix')
interest_list = list(interest)
type(interest_list)

In [ ]:
interest = ['삼성전자', 'LG전자', 'SK Hynix']
interest_tup = tuple(interest)
type(interest_tup)

In [ ]:
temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)
# x, y = 1, 2 와 같은 결과

In [ ]:
tmp = tuple(range(2, 100, 2))
print(tmp)

---
## 파이썬 딕셔너리
---

In [ ]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
*valid_scores, a, b = scores
print(valid_scores)

In [ ]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
a, b, *valid_scores = scores
print(valid_scores)

In [ ]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
a, *valid_scores, b = scores
print(valid_scores)

In [ ]:
temp = {}
type(temp)

In [ ]:
icecreams = {"메로나": 1000, "폴라포": 1200, "빵빠레": 1800}
print(icecreams)

In [ ]:
new_icecreams = {"죠스바": 1200, "월드콘": 1500}
# icecreams = icecreams.update(new_icecreams)
# 이러면 icecreams = None 이 됨
icecreams.update(new_icecreams)
print(icecreams)
"""update() 메소드는 앞에 오는 참조 객체를 직접 수정하는 개념으로 
실행후에는 None 값을 반환한다.. 고로 d = d.update() 같은 바보짓은
하지말자..."""

In [ ]:
print("메로나 가격:",icecreams["메로나"])

In [ ]:
del icecreams["메로나"]
print(icecreams)

In [ ]:
"""icecream = {
                '폴라포': 1200, '빵빠레': 1800, 
                '월드콘': 1500, '메로나': 1000}
>> icecream['누가바']
Traceback (most recent call last):
  File "<pyshell#69>", line 1, in <module>
    icecream['누가바']
KeyError: '누가바'"""
# '누가바' 라는 key가 없음

In [ ]:
inventory = {"메로나": [300, 20], "비비빅": [400, 3], "죠스바": [250, 100]}
print(inventory)

In [ ]:
print(inventory["메로나"][0],"원")

In [ ]:
print(inventory["메로나"][1],"개")

In [ ]:
inventory["월드콘"] =[500, 7]
print(inventory)

In [ ]:
icecream = {
            '탱크보이': 1200, '폴라포': 1200, 
            '빵빠레': 1800, '월드콘': 1500,
            '메로나': 1000,}
icecream_key = list(icecream.keys())
auto_key = icecream.keys()
print(icecream_key, icecream.keys(), type(icecream.keys()))
# keys() 함수 실행 시 dict_keys[] 가 자동 생성
# 이때 생성되는 dict_keys 는 tuple 이나 list 가 아닌 파이썬 내장 class
# list(dict.keys()) 로 리스트화 가능

In [ ]:
icecream = {
            '탱크보이': 1200, '폴라포': 1200, 
            '빵빠레': 1800, '월드콘': 1500,
            '메로나': 1000,}
icecream_vals = list(icecream.values())
print(icecream_vals)

In [ ]:
print(sum(icecream_vals))

In [ ]:
icecream = {
            '탱크보이': 1200, '폴라포': 1200, 
            '빵빠레': 1800, '월드콘': 1500,
            '메로나': 1000,}
new_product = {'팥빙수':2700, '아맛나':1000}
icecream.update(new_product)
print(icecream)

In [ ]:
keys = ("apple", "pear", "peach")
vals = (300, 250, 400)
fruits = dict(zip(keys,vals))
print(fruits)

In [ ]:
date = ['09/05', '09/06', '09/07', '09/08', '09/09']
close_price = [10500, 10300, 10100, 10800, 11000]
close_table = dict(zip(date, close_price))
print(close_table)

---
## 분기문
---

In [ ]:
boolean

In [ ]:
False

In [ ]:
True

In [ ]:
True

In [ ]:
True

In [ ]:
# 지원하지 않는 연산자

In [ ]:
# None

In [ ]:
"Hi, there."

In [ ]:
1,2,4

In [ ]:
3, 5

In [ ]:
line = input()
print(line*2)

In [ ]:
num = int(input("숫자를 입력하세요:"))
print(num+10)

In [ ]:
num = int(input("숫자를 입력하세요:"))
if num % 2 == 0:
    print("짝수")
else :
    print("홀수")

In [ ]:
num = int(input("숫자를 입력하세요:"))
if (num+20) > 255 :
    print(255)
else :
    print(num+20)

In [ ]:
num = int(input("숫자를 입력하세요:"))
if (num-20) < 0 :
    print(0)
else :
    print(num-20)

In [ ]:
time = input("시간을 입력하세요 :")
if time[-2:] == "00" :
    print("정각입니다.")
else :
    print("정각이 아닙니다.")

In [ ]:
fruit = ["사과", "포도", "홍시"]
a = input("좋아하는 과일은?")
if a in fruit :
    print("정답입니다.")
else :
    print("오답입니다.")

In [ ]:
warn_investment_list = [
                        "Microsoft", "Google",
                        "Naver", "Kakao", 
                        "SAMSUNG", "LG",]
stock = input("종목을 입력하세요 :")
if stock.capitalize() in warn_investment_list:
    print("위험 종목입니다.")
else :
    print("위험 종목이 아닙니다.")

In [ ]:
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
seasons = input("좋아하는 계절은? :")
season_list = list(fruit.keys())
if seasons in season_list :
    print("정답입니다.")
else :
    print("오답입니다.")

In [ ]:
fruits_list = list(fruit.values())
ans_fruit = input("좋아하는 과일은? :")
if ans_fruit in fruits_list:
    print("정답입니다.")
else :
    print("오답입니다.")

In [ ]:
letter = input("알파벳을 입력하세요 :")
if letter.islower():
    print(letter.upper())
else :
    print(letter.lower())

---
## 파이썬 반복문
---

In [ ]:
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
    print(변수)
#사과
#귤
#수박

In [ ]:
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
  print("#####")
# #####
# #####
# #####

In [ ]:
for 변수 in ["A", "B", "C"]:
  print(변수)
print("A\nB\nC")

In [ ]:
print("a\nb\nc")

In [ ]:
nums = [10, 20, 30,]
for 변수 in nums :
    print(변수)

In [ ]:
nums = [10, 20, 30,]
for 변수 in nums :
    print(변수)

In [ ]:
nums = [10, 20, 30,]
for 변수 in nums :
    print(변수)
    print("------")

In [ ]:
nums = ["++++", 10, 20, 30,]
for 변수 in nums :
    print(변수)

In [ ]:
for i in range(0,4) :
    print ("-------")

In [ ]:
prices = [100, 200, 300]
for i in prices :
    print(i+10)

In [ ]:
menus = ["김밥", "라면", "튀김"]
for i in menus:
    print("오늘의 메뉴 :", i)

In [ ]:
stocks = ["SK하이닉스", "삼성전자", "LG전자"]
for stock in stocks :
    print(len(stock))

In [ ]:
animals = ['dog', 'cat', 'parrot']
for animal in animals :
    print(animal, len(animal))

In [ ]:
for animal in animals:
    print(animal[0])

In [ ]:
nums = [1, 2, 3,]
for num in nums :
    print("3*"+str(num))

In [ ]:
for num in nums :
    print("3*"+str(num)+"=",3*num)

In [ ]:
kor_letters = ["가", "나", "다", "라"]
for letter in kor_letters[1:] :
    print(letter)

In [ ]:
for letter in kor_letters[::2]:
    print(letter)

In [ ]:
for letter in kor_letters[::-1] :
    print(letter)

In [ ]:
리스트 = [3, -20, -3, 44]
for num in 리스트 :
    if num < 0 :
        print(num)

In [ ]:
리스트 = [3, 100, 23, 44]
for num in 리스트 :
    if num % 3 == 0 :
        print(num)

In [ ]:
리스트 = [13, 21, 12, 14, 30, 18]
for num in 리스트 :
    if num < 20 and num % 3 == 0:
        print(num,)

In [ ]:
리스트 = ["I", "study", "python", "language", "!"]
for word in 리스트 :
    if len(word) > 2 :
        print(word)

In [ ]:
리스트 = ["A", "b", "c", "D"]
for letter in 리스트:
    if letter.isupper() :
        print(letter)

In [ ]:
for letter in 리스트:
    if letter.islower() :
        print(letter)

In [ ]:
리스트 = ['dog', 'cat', 'parrot']
for word in 리스트:
    print(word.title())

In [ ]:
리스트 = ['hello.py', 'ex01.py', 'intro.hwp']
for name in 리스트 :
    name_1, name_2 = name.split(".")
    print(name_1)

In [ ]:
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
for file in 리스트 :
    if file[-1] == 'h':
        print(file)
    elif file[-1] == 'c':
        print(file)

In [ ]:
for num in range(0,100):
    print(num)

In [ ]:
for year in range(2002,2051,4) :
    print(year)

In [ ]:
for num in range(3,31,3):
        print(num)

In [ ]:
"""num = 99
while num >= 0 :
    print(num)
    num -= 1"""
for i in range(100):
    print(99 - i)

In [ ]:
for i in range(10):
    print(i/10)

In [ ]:
for i in range(10):
    if i % 2 != 0 :
        print(f"3X{i}={i*3}")

In [ ]:
tmp = 0
for i in range(11):
    tmp += i
print(tmp)

In [ ]:
tmp = 0
for i in range(11):
    if i % 2 != 0:
        tmp += i
print(tmp)

In [ ]:
tmp = 1
for i in range(1,11):
    tmp *= i
print(tmp)

In [ ]:
price_list = [32100, 32150, 32000, 32500]
for i in range(4):
    print(price_list[i])

In [ ]:
price_list = [32100, 32150, 32000, 32500]
for i in range(4):
    print(len(price_list)-i, price_list[i])

In [ ]:
for i in range(1, 4):
    print(90 + 10 * i, price_list[i])

In [ ]:
my_list = ["가", "나", "다", "라"]
for i in range(3):
    print(my_list[i], my_list[i+1])

In [ ]:
my_list = ["가", "나", "다", "라", "마"]
for i in range(len(my_list)-2):
    print(my_list[i], my_list[i+1], my_list[i+2])

In [ ]:
my_list = ["가", "나", "다", "라"]
for i in range(len(my_list) - 1):
    print(my_list[len(my_list) - 1 - i], my_list[len(my_list) - 2 - i])

In [ ]:
cnt = 0
my_list = [100, 200, 400, 800]
for num in range(len(my_list)-1):
    print(my_list[num+1] - my_list[num])

In [ ]:
low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]
volatillity = list()
for i in range(len(low_prices)):
    volatillity.append(high_prices[i] - low_prices[i])
print(volatillity)

In [ ]:
apart = [["101호", "102호"], ["201호", "202호"], ["301호", "302호"]]
apart

In [ ]:
stock = [["시가", 100, 200, 300], ["종가", 80, 210, 330]]
stock

In [ ]:
stock = {"시가": [100, 200, 300], "종가" : [80, 210, 330]}
stock

In [ ]:
stock = {"10/10": [80, 110, 70, 90], "10/11": [210, 230, 190, 200]}
stock

In [ ]:
cnt = 0
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in range(len(apart)) :
    for cnt in range(2):
        print(apart[x][cnt], "호")

In [ ]:
cnt = 0
apart = [ [101, 102], [201, 202], [301, 302] ]
for row in apart :
    for col in row :
        print(col, "호")

In [4]:
babbles = ["aya", "ye", "woo", "ma",]
def solution(babbling):
    answer = 0
    for babble in babbles :
        if babble in bablling :
            answer += 1
    return answer